<link rel="stylesheet" href="/css/bands.css">
    <%for(let band of bands){%>
        <div id="band-wraper">
            <span style="font-size:x-large;"><%-band.name%></span>
            <span style="float: right;">
                <% for(let i=0;i<band.rating;i++) {%>
                    <i class="far fa-star fa-small"></i><% } %>  
            </span>
            <div><%-band.descripto%>n</div>
            <small><span><%=band.origin%> </span></small>
        </div>
        <%}%>

