<link rel="stylesheet" href="/css/home.css">
<body style="height:100%;">
    <div class="container">
        <div id="register-wraper" class="p-4">
            <h1 class="text-center"><i class="fas fa-sign-in-alt"></i> Reset Password</h1>
            <form action="/user/change-password" method="POST">
              <div class="mb-3">
                <label for="exampleFormControlInput4" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" value="<%=fixedEmail%>" readonly>
              </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput4" class="form-label">New Password</label>
                    <input type="password" class="form-control" name="password">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlInput4" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" name="confirmPassword">
                  </div>
                  <div class="d-grid gap-2 mb-3">
                    <button class="btn btn-danger" type="submit">Reset</button>
                  </div>
            </form>
        </div>
    </div>
    
</body>