<link rel="stylesheet" href="/css/home.css">
<body style="height:100%;">
    <div class="container">
        <div id="register-wraper" class="p-4">
            <h1 class="text-center"><i class="fas fa-sign-in-alt"></i> Register</h1>
            <form action="/user/sign-up" method="POST">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlInput2" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlInput3" class="form-label">Organisatin</label>
                    <input type="text" class="form-control" name="organisation">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlInput4" class="form-label">Date Of Birth</label>
                    <input type="date" class="form-control" name="dob">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlInput4" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlInput6" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" name="confirmPassword">
                  </div>
                  <div class="d-grid gap-2 mb-3">
                    <button class="btn btn-danger" type="submit">Register</button>
                  </div>
                  <div class="mb-2">Have an account? <a href="/user/login">Login</a></div>
            </form>
        </div>
    </div>
    
</body>