<link rel="stylesheet" href="/css/home.css">
<body style="height:100%;">
    <div class="container">
        <div id="register-wraper" class="p-4">
            <h1 class="text-center"><i class="fas fa-sign-in-alt"></i> Reset Password</h1>
          
            <form action="/user/<%if (locals.email){%>verify-otp<%}else{%>send-otp<%}%>" method="GET">
                  <div class="mb-3">
                    <label for="exampleFormControlInput2" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email"  value=<%=locals.email%>   <%if (locals.email){%>readonly<%}%>>
                  </div>
                 <%if (locals.otpBool){%>
                    <div class="mb-3">
                        <label for="exampleFormControlInput2" class="form-label">OTP</label>
                        <input type="text" class="form-control" name="otp">
                      </div>
                  <%}%>
                  <div class="d-grid gap-2 mb-3">
                    <button class="btn btn-danger" type="submit"><%=locals.otpStatus%></button>
                  </div>
                  <div class="mb-2">Have an account? <a href="/user/sign-in">Login</a></div>
                  <div class="mb-2">No account? <a href="/">Register</a></div>
            </form>
        </div>
    </div>
    
</body>